.screen-container-prov-list {
    margin: 0 auto;
    max-width: 1135px;
    width: 100%;
  }
  
  .provider-amount {
    background-color: rgba(13, 77, 100, 0.12);
    border-radius: 13px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    width: 43px;
  }
  
  .table-header-prov-list {
    display: grid;
    grid-template-columns: 125px 195px 180px 220px 155px 145px;
    grid-template-rows: 50px;
  }
  
  .table-content-prov-list {
    padding: 5px;
  }
  
  .header-title-prov-list {
    align-self: center;
  }
  
  .provider-info {
    align-items: center;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 100px 200px 185px 225px 160px 145px;
    grid-template-rows: 50px;
    justify-items: left;
    padding-left: 35px;
    transition: all 290ms ease-in-out;
  }
  .provider-info:hover {
    background-color: #E3E8EB;
    border-color: #F5F6FB;
    box-shadow: 10px 10px 24px -12px rgba(0, 0, 0, 0.35);
  }
  
  .action-button {
    height: 30px;
    width: 30px;
  }
  
  .status-inactive, .status-active {
    border-radius: 13px;
    height: 26px;
    padding: 3px 0;
    text-align: center;
    width: 106px;
  }
  
  .status-active {
    background-color: rgba(0, 186, 210, 0.25);
    border: 1px solid #00BAD2;
  }
  
  .status-inactive {
    background-color: rgba(226, 77, 86, 0.25);
    border: 1px solid #E24D56;
  }
  
  .icon-row {
    font-size: 22px;
  }
  
  .sortable-container {
    display: inline;
  }

  h5.float-left {
      float: left;
  }