<div class="screen-container-prov-list">
    <div class="column2">
      <span class="text-big poppins bold deep-sea-green m-bottom-9">Proveedores</span>
      <div class="row2 middle m-bottom-8">
        <span class="title-medium bold deep-sea-green m-right-3">Proveedores existentes</span>
        <span class="text-big bold deep-sea-green provider-amount">{{ totalProviders }}</span>
      </div>
    </div>
    <div class="paginator-selector">
      <form [formGroup]="selectForm">
        <label class="deep-sea-green bold">Elementos por página:</label>
        <select formControlName="selectControl" class="deep-sea-green bold" (change)="newValue($event.target.value)">
          <option *ngFor="let element of elementNumber" [value]="element.value">
            {{element.display}}
          </option>
        </select>
      </form>
    </div>
    <div class="info-card m-right-4 width-100 height-100 m-bottom-10"
      *ngIf="$paginator | async as paginator">
      <div class="width-100">
        <div class="table-header width-100 m-left-10">
          <div *ngFor="let header of tableInfo">
            <h5 class="title-small-poppins bold deep-sea-green header-title float-left">
              {{ header.label }}
            </h5>
            <div class="m-left-2 sortable-container" *ngIf="header.sortable">
              <button type="button" (click)="handleOrder(header.id)" class="icon-sortable">
                <i class="icon icon-long-down-arrow hoki text-big"></i>
              </button>
              <button type="button" (click)="handleOrder(header.id)" class="icon-sortable">
                <i class="icon icon-long-up-arrow hoki text-big"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="table-content width-100 column2 m-bottom-4">
          <div class="m-bottom-2 width-100 provider-info middle" *ngFor="let provider of providers">
            <span class="text-normal deep-sea-green bold">{{ provider.id }}</span>
            <span class="text-normal deep-sea-green">{{ provider.name | shortLargeStrings }}</span>
            <span class="text-normal deep-sea-green">{{ provider.city }}</span>
            <span class="text-normal deep-sea-green">{{ provider.address | shortLargeStrings }}</span>
            <span class="text-normal deep-sea-green"
              [ngClass]="provider.active ? 'status-active' : 'status-inactive'">{{ provider.active ? 'Activo' : 'Inactivo' }}</span>
            <div class="space-between">
              <a *ngIf="canViewDetail" class="action-button icon icon-eye-on deep-sea-green link-simple" title="Ver"
                href="/providers/detail?id={{provider.id}}"></a>
              <a *ngIf="canEdit" class="action-button icon icon-pencil deep-sea-green link-simple" title="Editar"
                href="/providers/edit?id={{provider.id}}"></a>
              <button type="button" class="action-button icon deep-sea-green border-none" *ngIf="canUpdateStatus"
                title="Habilitar/Deshabilitar" (click)="disableProvider(provider.id)">
                <span class="icon icon-empty-list icon-row deep-sea-green"></span>
              </button>
            </div>
          </div>
        </div>
        <paginator [paginator]="paginator.dataPaginator" (page)="currentPageChange($event)">
        </paginator>
      </div>
    </div>
    <div class="row2 center end full-width" *ngIf="canCreate">
      <a class="button-primary link-simple" href="/providers/create">Crear Proveedor</a>
    </div>
</div>
